.cardsBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}

.card {
    display: inline-block;
    position: relative;
    height: 600px;
    width: 300px;
    margin: 10px;
    text-align: left;
    border: #36330e 0.1em solid;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(54, 54, 18, 0.5);
    padding: 15px;
    padding-bottom: 30px;
}

.card .cardPic {
    width: 100%;
    height: 70%;
    border: #36330e 0.1em solid;
    border-radius: 3px;
    display: block;
    margin: auto;
}

.card .cardTitle {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin: 10px auto;
    padding: 0px;
}

.card .cardTitle:hover {
    color: orange;
    cursor: pointer;
}

.card .cardParagraph {
    font-size: 14px;
}

.card .cardPrice {
    position: absolute;
    bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: orange;
    margin-top: 10px;
    display: inline-block;
}

.card .cardAddToCart {
    position: absolute;
    bottom: 15px;
    right: 15px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #36330e;
}

.card .cardAddToCart img {
    width: 30px;
    height: 30px;
}

.card .cardAddToCart:hover {
    background-color: orange;
    cursor: pointer;
}