body {
  background-color: #f1f0e4;
}

.navbar {
  background-color: white;
  padding: 10px 5px;
  position: fixed;
  height: 50px;
  width: 70%;
  z-index: 1;
  margin: 20px 15%;
  align-items: center;
  overflow: hidden;
}

.navbar .navLogo {
  display: inline-block;
  margin-left: 10px;
  width: 50px;
  height: 50px;
}

.navLinks li img {
  width: 15px;
  height: 15px;
  display: inline;
}

ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}

li {
  float: left;
  padding: 16px;
}

li button {
  font-size: 18px;
  display: inline-block;
  color: #36330e;
  text-align: center;
  font-weight: bolder;
  background-color: transparent;
  border: none;
}

.catogeriesList {
  display: none;
  position: absolute;
  background-color: #f1f0e4;
  width: 125px;
}

.catogeriesList button{
  font-size: 13px;
  padding: 10px;
  width: 100%;
}

.categories:hover .catogeriesList {
  display: block;
}

li button:hover {
  cursor: pointer;
  color: orange;
}

.cleaner {
  clear: both;
}

.sliderBlock {
  background-image: url("https://fakestoreapi.com/img/71-3HjGNDUL._AC_SY879._SX._UX._SY._UY_.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 460px 0;
  text-align: center;
  position: relative;
}

.sliderBlock .contentBlock {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sliderBlock .contentBlock .brandName {
  font-size: 50px;
  color: #36330e;
}

.sliderBlock .contentBlock .slogan {
  font-size: 20px;
  color: #36330e;
}

.sliderBlock .contentBlock .box {
  background-color: #f1f0e4;
  width: 40%;
  padding: 20px;
  margin: 20px auto;
}

.servicesBlock {
  padding: 50px 0;
  text-align: center;
}

.servicesHeader {
  font-size: 30px;
  color: #36330e;
  padding: 10px;
}

.servicesDescription {
  font-size: 20px;
  color: #36330e;
  padding-bottom: 20px;
}

.picsBlock {
  display: inline-block;
  width: 70%;
}

.picsBlock img {
  width: 200px;
  height: 200px;
  margin: 10px;
} 

.categoryBlock {
  padding: 50px 0;
  text-align: center;
}
