/* Style of login div */

.login {
    width: 700px;
    margin: auto;
}

.loginBacktoHome {
    text-align: center;
    margin: 20px;
    background-color: orange;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 25px;
}

.loginBacktoHome:hover {
    background-color: white;
    cursor: pointer;
}

.loginBacktoHome img {
    width: 30px;
    height: 30px;
}

.login h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
    color: orange;
}

.login h1 span {
    color: black;
}

.login h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}

#loginForm {
    margin-top: 50px;
    text-align: center;
}

#loginForm input {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #36330e;
}

#loginForm input:focus {
    outline: none;
}

#loginForm button {
    width: 100px;
    display: block;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    border: none;
    background-color: #36330e;
    color: white;
}

#loginForm button:hover {
    background-color: orange;
    cursor: pointer;
}

#loginForm label {
    text-align: center;
    display: block;
}

.registerMssg {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: orange;
    margin: 20px;
}

.registerBtn {
    text-align: center;
    margin: 20px;
    background-color: orange;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.registerBtn:hover {
    background-color: white;
    cursor: pointer;
}
