/* Style for register div */

.register {
    width: 700px;
    margin: auto;
}

.loginBacktoHome {
    text-align: center;
    margin: 20px;
    background-color: orange;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 25px;
}

.loginBacktoHome:hover {
    background-color: white;
    cursor: pointer;
}

.loginBacktoHome img {
    width: 30px;
    height: 30px;
}

.register h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
    color: orange;
}

.register h2 span {
    color: black;
}

.register h3 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}

#registerForm {
    margin-top: 50px;
    text-align: center;
}

#registerForm input {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

#registerForm input:focus {
    outline: none;
}

#registerForm button {
    width: 100px;
    display: block;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    border: none;
    background-color: #36330e;
    color: white;
}

#registerForm button:hover {
    background-color: orange;
    cursor: pointer;
}

#registerForm label {
    text-align: center;
    display: block;
}
